In [30]:
import pandas as pd
import os
from sqlalchemy import create_engine
engine=create_engine('mysql+pymysql://u_operator:BIyL3lhafOZZ@dw-tidb-qa-470768702.cn-northwest-1.elb.amazonaws.com.cn:4000/monitor_results?charset=utf8',echo=False)

In [31]:
data_quality_base_records=pd.read_sql('show tables',con=engine)

In [32]:
data_quality_base_records

     Tables_in_monitor_results
0               agency_monitor
1    algorithm_automation_test
2     algorithm_model_coverage
3           ans_id_num_monitor
4                  ans_monitor
..                         ...
97      solr_daily_index_count
98                 task_config
99        test_data_management
100           update_frequency
101       weekly_image_monitor

[102 rows x 1 columns]

#  base_records

In [5]:
base_records=pd.read_sql('select * from data_quality_base_records',con=engine)

In [6]:
base_records

,id,create_ts,update_ts,batch_id,business_type,business_type_sub,composite,country,table,field,result,badcase_path,test_num,total_num,test_sql
0,78,2022-08-03 13:21:06,2022-08-03 13:21:06,4fe8787d90b34fd6bbae2a687be2272d,Patent,patent,cover,CN,patent_biblio_cpc,code_full,8.10,testpatsnapus/patent_quality_score/error_datas...,133914.0,133914.0,None
1,79,2022-08-03 13:21:18,2022-08-03 13:21:18,4fe8787d90b34fd6bbae2a687be2272d,Patent,patent,accuracy,CN,patent_biblio_cpc,code_full,100.00,None,133914.0,133914.0,None
2,80,2022-08-03 13:21:26,2022-08-03 13:21:26,4fe8787d90b34fd6bbae2a687be2272d,Patent,patent,accuracy,CN,patent_biblio_cpc,code_full,100.00,None,133914.0,133914.0,None
3,81,2022-08-03 13:21:32,2022-08-03 13:21:32,4fe8787d90b34fd6bbae2a687be2272d,Patent,patent,accuracy,CN,patent_biblio_cpc,code_full,100.00,None,133914.0,133914.0,None
4,82,2022-08-03 13:21:46,2022-08-03 13:21:46,4fe8787d90b34fd6bbae2a687be2272d,Patent,patent,accuracy,CN,patent_biblio_cpc,code_full,100.00,None,133914.0,133914.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867,950,2022-12-07 17:43:33,2022-12-07 17:43:33,200326925aa14e5da159a6f52a29466b,Legal,Status,accuracy,CH,patent_metadata,legal_filter,98.42,error :Failed to upload ./error_datas_16704062...,254.0,254.0,"\nwith i1 as (select pl.apno,\ncase\nwhen pl.l..."
868,951,2022-12-07 17:43:40,2022-12-07 17:43:40,200326925aa14e5da159a6f52a29466b,Legal,Status,cover,CH,patent_metadata,legal_filter,100.00,None,254.0,254.0,\nselect DISTINCT b.apno from patent_biblio b ...
869,952,2022-12-07 17:43:48,2022-12-07 17:43:48,200326925aa14e5da159a6f52a29466b,Legal,Status,consistency,CH,patent_metadata,legal_filter,100.00,None,254.0,254.0,"\nselect b.apno, array_distinct(array_agg(m.le..."
870,953,2022-12-07 17:43:51,2022-12-07 17:43:51,200326925aa14e5da159a6f52a29466b,Legal,Status,cfd,CH,cfd,cfd_num,0.00,None,NaN,NaN,project = CFD AND issuetype = Bug AND status i...
871,954,2022-12-07 17:43:55,2022-12-07 17:43:55,200326925aa14e5da159a6f52a29466b,Legal,Status,ld_bug,CH,ld_bug,ld_num,4.00,None,NaN,NaN,"project = DATA AND issuetype = Bug AND ""Data B..."

In [7]:
base_records['business_type'].value_counts()

Patent    783
Entity     40
Legal      37
Tffi       12
Name: business_type, dtype: int64

## Tffi_records

In [22]:
Tffi_records=base_records.query('business_type=="Tffi"')
Tffi_records

,id,create_ts,update_ts,batch_id,business_type,business_type_sub,composite,country,table,field,result,badcase_path,test_num,total_num,test_sql
833,916,2022-12-02 17:21:05,2022-12-02 17:21:05,cc0e299bd29e4f8597838f739af68a75,Tffi,company,cover,CN,npd_dw.innovation_basic_info,credit_code,98.0,testpatsnapus/patent_quality_score/error_datas...,1643719.0,1643719.0,select count(DISTINCT c.company_id) from npd_d...
834,917,2022-12-02 17:21:10,2022-12-02 17:21:10,cc0e299bd29e4f8597838f739af68a75,Tffi,company,accuracy,CN,npd_dw.innovation_basic_info,credit_code,100.0,None,NaN,NaN,select b.credit_code from npd_dw.innovation_c...
835,918,2022-12-02 17:21:20,2022-12-02 17:21:20,cc0e299bd29e4f8597838f739af68a75,Tffi,company,consistency,CN,npd_dw.innovation_basic_info,credit_code,98.0,testpatsnapus/patent_quality_score/error_datas...,1643719.0,1643719.0,"select\n c.company_id,a.credit_code ,b.credit..."
836,919,2022-12-02 17:22:37,2022-12-02 17:22:37,567f149d288e4ae19f00d9c82a08538c,Tffi,company,cover,CN,npd_dw.innovation_basic_info,credit_code,98.0,testpatsnapus/patent_quality_score/error_datas...,1643719.0,1643719.0,select count(DISTINCT c.company_id) from npd_d...
837,920,2022-12-02 17:22:42,2022-12-02 17:22:42,567f149d288e4ae19f00d9c82a08538c,Tffi,company,accuracy,CN,npd_dw.innovation_basic_info,credit_code,100.0,None,NaN,NaN,select b.credit_code from npd_dw.innovation_c...
838,921,2022-12-02 17:22:52,2022-12-02 17:22:52,567f149d288e4ae19f00d9c82a08538c,Tffi,company,consistency,CN,npd_dw.innovation_basic_info,credit_code,98.0,testpatsnapus/patent_quality_score/error_datas...,1643719.0,1643719.0,"select\n c.company_id,a.credit_code ,b.credit..."
839,922,2022-12-02 17:25:07,2022-12-02 17:25:07,eee07eaa5f774557bcaaddbd5d207680,Tffi,company,cover,CN,npd_dw.innovation_basic_info,credit_code,98.0,testpatsnapus/patent_quality_score/error_datas...,1643719.0,1643719.0,select count(DISTINCT c.company_id) from npd_d...
840,923,2022-12-02 17:25:12,2022-12-02 17:25:12,eee07eaa5f774557bcaaddbd5d207680,Tffi,company,accuracy,CN,npd_dw.innovation_basic_info,credit_code,100.0,None,NaN,NaN,select b.credit_code from npd_dw.innovation_c...
841,924,2022-12-02 17:25:22,2022-12-02 17:25:22,eee07eaa5f774557bcaaddbd5d207680,Tffi,company,consistency,CN,npd_dw.innovation_basic_info,credit_code,98.0,testpatsnapus/patent_quality_score/error_datas...,1643719.0,1643719.0,"select\n c.company_id,a.credit_code ,b.credit..."
842,925,2022-12-05 09:48:27,2022-12-05 09:48:27,4f0ec7a611084c17ba2be887202f7d9d,Tffi,company,cover,CN,npd_dw.innovation_basic_info,credit_code,98.0,testpatsnapus/patent_quality_score/error_datas...,1643719.0,1643719.0,select count(DISTINCT c.company_id) from npd_d...
843,926,2022-12-05 09:48:32,2022-12-05 09:48:32,4f0ec7a611084c17ba2be887202f7d9d,Tffi,company,accuracy,CN,npd_dw.innovation_basic_info,credit_code,100.0,None,NaN,NaN,select b.credit_code from npd_dw.innovation_c...
844,927,2022-12-05 09:48:42,2022-12-05 09:48:42,4f0ec7a611084c17ba2be887202f7d9d,Tffi,company,consistency,CN,npd_dw.innovation_basic_info,credit_code,98.0,testpatsnapus/patent_quality_score/error_datas...,1643719.0,1643719.0,"select\n c.company_id,a.credit_code ,b.credit..."

# data_quality_batch_id_info

In [14]:
batch_id_info=pd.read_sql('select * from data_quality_batch_id_info',con=engine)

In [15]:
batch_id_info

,id,create_ts,update_ts,business_type,business_type_sub,country,latest_batch_id,check_datas_start_date,check_datas_end_date,history_batch_ids
0,1,2022-08-02 14:21:12,2022-08-02 18:49:27,Non_patent,None,None,43257e51e37e4958a0e08b099c82a32d,None,None,"[{""batch_id"": ""3093e362d0c34eb580ba1e72fba1a1c..."
1,2,2022-08-02 14:47:00,2022-08-03 18:47:12,Entity,ANS,None,3e7e733dff81454a8216c9c38528de75,2022-07-12,2022-07-16,"[{""batch_id"": ""c01cfbddd83345628b4d45eb93ed276..."
2,3,2022-08-03 13:46:02,2022-08-29 16:58:04,Patent,patent,CN,161702d9ebe44149ac1dc81906597e6b,2022-08-23,2022-08-29,"[{""batch_id"": ""42d56b49e93e45df824b72a83c38314..."
3,4,2022-08-31 11:23:43,2022-08-31 12:30:12,Patent,patent,US,57a1b43928a1453581c5bb7bcae3f103,2022-08-25,2022-08-31,"[{""batch_id"": ""47d919bf63d847779eb2a80b783c61a..."
4,5,2022-08-31 16:52:11,2022-09-01 13:47:41,Patent,patent,JP,004ef52c31fc4b848cabcc1e2e912a3c,2022-08-26,2022-09-01,"[{""batch_id"": ""84edcb918b5d43afb08fd9d88675711..."
5,6,2022-08-31 17:22:29,2022-08-31 17:38:08,Patent,patent,KR,813b9d94540a4299a2c549349daf161e,2022-08-25,2022-08-31,"[{""batch_id"": ""66a99cd76c8b45ef85d8e6eedb93dfe..."
6,7,2022-09-06 10:46:33,2022-11-23 16:00:42,Legal,Status,GB,8610fe26e5f24001851d16e9cb5cc12a,2022-10-24,2022-11-23,"[{""batch_id"": ""22a1510fb20c4025ae96152bbc699a2..."
7,8,2022-09-07 09:50:22,2022-09-07 09:54:32,Patent,None,DE,4cf142669b0646aabcddc01418fa6899,2022-08-08,2022-09-07,"[{""batch_id"": ""92b625b78e444f0bacfdaf120760d0a..."
8,9,2022-09-07 10:00:21,2022-09-07 10:00:21,Patent,patent,DE,9a91cf52944a454f96dc1076187f7d68,2022-08-08,2022-09-07,None
9,10,2022-12-02 17:25:24,2022-12-05 09:48:44,Tffi,company,CN,4f0ec7a611084c17ba2be887202f7d9d,None,None,"[{""batch_id"": ""eee07eaa5f774557bcaaddbd5d20768..."
10,11,2022-12-05 15:56:01,2022-12-05 19:33:26,Legal,Status,US,9539a089853e4aa78e6959e423a1a4a3,2022-11-05,2022-12-05,"[{""batch_id"": ""de040d4c0e144bbd907a4db91e4d8a3..."
11,12,2022-12-05 17:35:17,2022-12-05 17:35:17,Legal,Status,DE,54d138918ed3421680b131c371876ede,2022-11-05,2022-12-05,None
12,13,2022-12-05 19:46:47,2022-12-05 19:46:47,Legal,Status,WO,c82272392ab9406c9215f2225f788660,2022-11-05,2022-12-05,None
13,14,2022-12-07 17:43:50,2022-12-07 17:43:50,Legal,Status,CH,200326925aa14e5da159a6f52a29466b,2022-11-07,2022-12-07,None

# data_quality_fields_weight

In [16]:
fields_weight=pd.read_sql('select * from data_quality_fields_weight',con=engine)

In [17]:
fields_weight

,id,create_ts,update_ts,business_type,business_type_sub,test_table,country,composite,test_field,weight_value,sql_venv,sql,test_table_count_num_sql
0,741,2022-08-03 13:18:03,2022-08-03 13:18:03,Patent,patent,patent_biblio_cpc,CN,cover,code_full,4.76,7478,select\n DISTINCT bib.patent_id\nfrom\n pate...,None
1,742,2022-08-03 13:18:04,2022-08-03 13:18:04,Patent,patent,patent_biblio_cpc,CN,accuracy,code_full,1.07,7478,"select\n DISTINCT bib.patent_id, cpc.code_ful...",None
2,743,2022-08-03 13:18:04,2022-08-03 13:18:04,Patent,patent,patent_biblio_cpc,CN,accuracy,code_full,1.07,7478,"select\n DISTINCT bib.patent_id, cpc.code_ful...",None
3,744,2022-08-03 13:18:05,2022-08-03 13:18:05,Patent,patent,patent_biblio_cpc,CN,accuracy,code_full,1.07,7478,"select\n DISTINCT bib.patent_id, cpc.code_ful...",None
4,745,2022-08-03 13:18:05,2022-08-03 13:18:05,Patent,patent,patent_biblio_cpc,CN,accuracy,code_full,1.07,7478,"WITH com as (\n select\n bib.patent_id,\n ...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,11111131,2022-12-05 11:42:43,2022-12-05 11:42:43,Legal,Status,patent_metadata,WO,accuracy,legal_filter,100.00,7478,\r\n-- 判断 WO 专利是否有进入指定国数据\r\nwith t1 as (\r\n...,None
1313,11111132,2022-12-05 11:45:26,2022-12-05 11:45:26,Legal,Status,patent_metadata,WO,cover,legal_filter,100.00,7478,\r\nselect DISTINCT b.apno from patent_biblio ...,None
1314,11111133,2022-12-07 09:32:42,2022-12-07 09:32:42,Legal,Status,patent_metadata,CH,accuracy,legal_filter,100.00,7478,"\r\nwith i1 as (select pl.apno,\r\ncase\r\nwhe...",None
1315,11111134,2022-12-07 09:34:17,2022-12-07 09:34:17,Legal,Status,patent_metadata,CH,cover,legal_filter,100.00,7478,\r\nselect DISTINCT b.apno from patent_biblio ...,None
1316,11111135,2022-12-07 09:39:28,2022-12-07 09:39:28,Legal,Status,patent_metadata,CH,consistency,legal_filter,100.00,7478,"\r\nselect b.apno, array_distinct(array_agg(m....",None

In [19]:
fields_weight['business_type'].value_counts()

Patent    1281
Entity      18
Legal       15
Tffi         3
Name: business_type, dtype: int64

In [20]:
fields_weight.query('business_type=="Tffi"')

,id,create_ts,update_ts,business_type,business_type_sub,test_table,country,composite,test_field,weight_value,sql_venv,sql,test_table_count_num_sql
1302,11111117,2022-12-02 16:57:12,2022-12-02 16:57:12,Tffi,company,npd_dw.innovation_basic_info,CN,cover,credit_code,2.60,3977,select count(DISTINCT c.company_id) from npd_d...,None
1303,11111118,2022-12-02 16:59:31,2022-12-02 16:59:31,Tffi,company,npd_dw.innovation_basic_info,CN,accuracy,credit_code,3.23,3977,select b.credit_code from npd_dw.innovation_c...,None
1304,11111119,2022-12-02 16:59:41,2022-12-02 16:59:41,Tffi,company,npd_dw.innovation_basic_info,CN,consistency,credit_code,3.22,3977,"select\n c.company_id,a.credit_code ,b.credit...",None

# data_quality_model_score

In [33]:
model_score=pd.read_sql('select * from data_quality_model_score',con=engine)
model_score

,id,create_ts,update_ts,batch_id,business_type,business_type_sub,composite,country,result_score
0,30001,2022-08-29 11:09:02,2022-08-29 11:09:02,2b6b9ab4dc4b4ffdb9a993a632126149,Patent,patent,accuracy,CN,99.232230
1,30002,2022-08-29 11:09:02,2022-08-29 11:09:02,2b6b9ab4dc4b4ffdb9a993a632126149,Patent,patent,cover,CN,89.049126
2,30003,2022-08-29 11:09:02,2022-08-29 11:09:02,2b6b9ab4dc4b4ffdb9a993a632126149,Patent,patent,consistency,CN,98.672390
3,30004,2022-08-30 18:43:32,2022-08-30 18:43:32,29d771c351f94b4ab114be4206e51948,Entity,ANS,accuracy,None,92.100000
4,30005,2022-08-30 18:43:32,2022-08-30 18:43:32,29d771c351f94b4ab114be4206e51948,Entity,ANS,consistency,None,65.700000
...,...,...,...,...,...,...,...,...,...
224,90030,2022-12-08 19:53:50,2022-12-08 19:53:50,66357a0152e74c4a80363b1caa31be48,Legal,Status,consistency,GB,100.000000
225,90031,2022-12-08 19:53:52,2022-12-08 19:53:52,66357a0152e74c4a80363b1caa31be48,Legal,Status,cover,GB,100.000000
226,90032,2022-12-08 19:53:54,2022-12-08 19:53:54,66357a0152e74c4a80363b1caa31be48,Legal,Status,accuracy,GB,99.900000
227,90033,2022-12-08 19:54:01,2022-12-08 19:54:01,66357a0152e74c4a80363b1caa31be48,Legal,Status,cfd,GB,100.000000
228,90034,2022-12-08 19:54:06,2022-12-08 19:54:06,66357a0152e74c4a80363b1caa31be48,Legal,Status,ld_bug,GB,100.000000

In [37]:
model_score.query('business_type=="Entity" and batch_id=="83e1192c2fb14c1fb7736972d780a5ac"')

,id,create_ts,update_ts,batch_id,business_type,business_type_sub,composite,country,result_score
209,90011,2022-12-01 08:05:42,2022-12-01 08:05:42,83e1192c2fb14c1fb7736972d780a5ac,Entity,ANS,cover,None,92.95
210,90012,2022-12-01 08:05:42,2022-12-01 08:05:42,83e1192c2fb14c1fb7736972d780a5ac,Entity,ANS,accuracy,None,92.10
211,90013,2022-12-01 08:05:42,2022-12-01 08:05:42,83e1192c2fb14c1fb7736972d780a5ac,Entity,ANS,consistency,None,71.40
212,90014,2022-12-01 08:05:45,2022-12-01 08:05:45,83e1192c2fb14c1fb7736972d780a5ac,Entity,ANS,cfd,None,70.00
213,90015,2022-12-01 08:05:46,2022-12-01 08:05:46,83e1192c2fb14c1fb7736972d780a5ac,Entity,ANS,ld_bug,None,60.00