In [2]:
import pandas as pd
import os
os.chdir("/Users/caicaiqijun/智慧牙/数据/TFFI/全国数据/模型/评级趋势优化")

# level

In [42]:
level_9=pd.read_excel('level.xlsx',sheet_name='level9')
level_9

  rating_v2  level9
0       AAA       1
1        AA       2
2         A       3
3       BBB       4
4        BB       5
5         B       6
6       CCC       7
7        CC       8
8         C       9

# 最近三月评级

In [27]:
rece_3_rating=pd.read_csv("最近三月评级.csv")
rece_3_rating

                               company_id      score rating_v2   version
0        FB8986F0C61A5EEEA8F45C59F3E00CBC   0.064286         C  20220920
1        FC57296581CC7369C9B164924A11637C  19.971216       CCC  20220920
2        FC5D0EF5D661A2F76CC367F07CC38AA8   3.670139        CC  20220920
3        FCC936D9841A06B9103486C12ED75F8F  17.033647       CCC  20220920
4        FD2ECAF3179BCF6BC1737BC1006AD442  18.010821       CCC  20220920
...                                   ...        ...       ...       ...
3375921  87B2A27722DC531854E1D876FA2763FD  32.243461         B  20220920
3375922  883272F22D2AB9092897305E7C6BD19D  15.205926       CCC  20220920
3375923  8A2DDB03813FB46016783CF726EC337F   2.628304         C  20220920
3375924  8BB6C513039067F9ABDE8785987C213B  18.146591       CCC  20220920
3375925  8C17757E29DE5C9C0E47A35BE06DF117  45.707801        BB  20220920

[3375926 rows x 4 columns]

In [28]:
rece_3_rating['version'].value_counts()

20221027    1128757
20221125    1127384
20220920    1119785
Name: version, dtype: int64

## score_9

In [29]:
score_9=rece_3_rating.query('version==20220920')
score_9

                               company_id      score rating_v2   version
0        FB8986F0C61A5EEEA8F45C59F3E00CBC   0.064286         C  20220920
1        FC57296581CC7369C9B164924A11637C  19.971216       CCC  20220920
2        FC5D0EF5D661A2F76CC367F07CC38AA8   3.670139        CC  20220920
3        FCC936D9841A06B9103486C12ED75F8F  17.033647       CCC  20220920
4        FD2ECAF3179BCF6BC1737BC1006AD442  18.010821       CCC  20220920
...                                   ...        ...       ...       ...
3375921  87B2A27722DC531854E1D876FA2763FD  32.243461         B  20220920
3375922  883272F22D2AB9092897305E7C6BD19D  15.205926       CCC  20220920
3375923  8A2DDB03813FB46016783CF726EC337F   2.628304         C  20220920
3375924  8BB6C513039067F9ABDE8785987C213B  18.146591       CCC  20220920
3375925  8C17757E29DE5C9C0E47A35BE06DF117  45.707801        BB  20220920

[1119785 rows x 4 columns]

In [30]:
score_10=rece_3_rating.query('version==20221027')
score_10

                               company_id      score rating_v2   version
19785    CAAEF5ABF0BC2287760CC04B98177B8A   3.729572        CC  20221027
19786    CB08A6B342AEF120F85999E52AB07025  17.225513       CCC  20221027
19787    CB7AFF9E82EF132F9433F71F6EB0B5AA  19.550680       CCC  20221027
19788    CBE67EF8EC05C123D0EFF042762DEE3A  15.551592       CCC  20221027
19789    CCF4A761EEC48080C1E064F9CB4E7C40  43.732562        BB  20221027
...                                   ...        ...       ...       ...
3117585  964707598389919D88A7F7D4ACF4B882   3.825963        CC  20221027
3117586  96E608D20D312BBF3512419935A13562   0.152475         C  20221027
3117587  9A6A9899A41238240AC59DFC6A14ADFE   9.160115       CCC  20221027
3117588  9AD64CE39C69519426F5EDCBF503440B  26.279871         B  20221027
3117589  9B4A6344A3858B0C36FC884727410A43   5.000223        CC  20221027

[1128757 rows x 4 columns]

In [31]:
score_11=rece_3_rating.query('version==20221125')
score_11

                               company_id      score rating_v2   version
59721    1EA8DDCF848BB5FFE0C18AB6C86D86F7   0.044497         C  20221125
59722    1FB55F77D9A2E4198A0317636C5B027E  15.004817       CCC  20221125
59723    21C06AA173497A4DA907010367279DD8  16.063706       CCC  20221125
59724    222CF560B39F5E8866A4FF86C93BE913  14.103152       CCC  20221125
59725    2343B23A21410C490CF0AB8E10A783A9   7.533799        CC  20221125
...                                   ...        ...       ...       ...
3325425  D54DFCD3D05E52AFBBD9321DF60359FC   5.412527        CC  20221125
3325426  D59A40CF14AEBCE809E73C1FF71C9816  39.049516        BB  20221125
3325427  D8B38B96D6513EDEB33BBAB0EDD90A11  23.589569       CCC  20221125
3325428  D927415B63271DC520ABBA53E004064C   2.916877         C  20221125
3325429  DA18E239EDBE26AB4307BB1B41486ACE  41.899528        BB  20221125

[1127384 rows x 4 columns]

In [40]:
score_9['rating_v2'].value_counts()

CCC    421139
CC     294151
C      167944
B      164287
BB      48965
BBB     15458
A        5853
AA       1671
AAA       317
Name: rating_v2, dtype: int64

# 合并

In [32]:
rece_3_score=pd.merge(score_9,score_10,on='company_id',suffixes=['_9','_10'])
rece_3_score=pd.merge(rece_3_score,score_11,on='company_id')
rece_3_score

,company_id,score_9,rating_v2_9,version_9,score_10,rating_v2_10,version_10,score,rating_v2,version
0,FB8986F0C61A5EEEA8F45C59F3E00CBC,0.064286,C,20220920,0.064286,C,20221027,0.064286,C,20221125
1,FC57296581CC7369C9B164924A11637C,19.971216,CCC,20220920,19.576306,CCC,20221027,20.726736,CCC,20221125
2,FC5D0EF5D661A2F76CC367F07CC38AA8,3.670139,CC,20220920,3.670139,C,20221027,5.290356,CC,20221125
3,FCC936D9841A06B9103486C12ED75F8F,17.033647,CCC,20220920,17.033647,CCC,20221027,17.033647,CCC,20221125
4,FD2ECAF3179BCF6BC1737BC1006AD442,18.010821,CCC,20220920,19.206132,CCC,20221027,19.186041,CCC,20221125
...,...,...,...,...,...,...,...,...,...,...
1116823,87B2A27722DC531854E1D876FA2763FD,32.243461,B,20220920,33.283185,B,20221027,34.345543,B,20221125
1116824,883272F22D2AB9092897305E7C6BD19D,15.205926,CCC,20220920,15.205926,CCC,20221027,15.205926,CCC,20221125
1116825,8A2DDB03813FB46016783CF726EC337F,2.628304,C,20220920,0.983067,C,20221027,0.983067,C,20221125
1116826,8BB6C513039067F9ABDE8785987C213B,18.146591,CCC,20220920,18.146591,CCC,20221027,15.436518,CCC,20221125
1116827,8C17757E29DE5C9C0E47A35BE06DF117,45.707801,BB,20220920,44.178416,BB,20221027,45.200494,BB,20221125

In [34]:
rece_3_score['score_mean']=(rece_3_score['score_9']+rece_3_score['score_10']+rece_3_score['score'])/3
rece_3_score

,company_id,score_9,rating_v2_9,version_9,score_10,rating_v2_10,version_10,score,rating_v2,version,score_mean
0,FB8986F0C61A5EEEA8F45C59F3E00CBC,0.064286,C,20220920,0.064286,C,20221027,0.064286,C,20221125,0.064286
1,FC57296581CC7369C9B164924A11637C,19.971216,CCC,20220920,19.576306,CCC,20221027,20.726736,CCC,20221125,20.091419
2,FC5D0EF5D661A2F76CC367F07CC38AA8,3.670139,CC,20220920,3.670139,C,20221027,5.290356,CC,20221125,4.210211
3,FCC936D9841A06B9103486C12ED75F8F,17.033647,CCC,20220920,17.033647,CCC,20221027,17.033647,CCC,20221125,17.033647
4,FD2ECAF3179BCF6BC1737BC1006AD442,18.010821,CCC,20220920,19.206132,CCC,20221027,19.186041,CCC,20221125,18.800998
...,...,...,...,...,...,...,...,...,...,...,...
1116823,87B2A27722DC531854E1D876FA2763FD,32.243461,B,20220920,33.283185,B,20221027,34.345543,B,20221125,33.290729
1116824,883272F22D2AB9092897305E7C6BD19D,15.205926,CCC,20220920,15.205926,CCC,20221027,15.205926,CCC,20221125,15.205926
1116825,8A2DDB03813FB46016783CF726EC337F,2.628304,C,20220920,0.983067,C,20221027,0.983067,C,20221125,1.531479
1116826,8BB6C513039067F9ABDE8785987C213B,18.146591,CCC,20220920,18.146591,CCC,20221027,15.436518,CCC,20221125,17.243234
1116827,8C17757E29DE5C9C0E47A35BE06DF117,45.707801,BB,20220920,44.178416,BB,20221027,45.200494,BB,20221125,45.028904

In [35]:
def f(x):
    if x>75.6270913121:
        rat='AAA'
    elif x>66.6745231748:
        rat='AA'
    elif x>56.5829515099:
        rat='A'
    elif x>45.4605119591:
        rat='BBB'
    elif x>33.7045067548:
        rat='BB'
    elif x>20.4460314446:
        rat='B'
    elif x>4.9992573616:
        rat='CCC'
    elif x>0.547162092:
        rat='CC'
    else:
        rat='C'
    return rat

In [36]:
rece_3_score['rating_mean']=rece_3_score['score_mean'].apply(lambda x:f(x))
rece_3_score

,company_id,score_9,rating_v2_9,version_9,score_10,rating_v2_10,version_10,score,rating_v2,version,score_mean,rating_mean
0,FB8986F0C61A5EEEA8F45C59F3E00CBC,0.064286,C,20220920,0.064286,C,20221027,0.064286,C,20221125,0.064286,C
1,FC57296581CC7369C9B164924A11637C,19.971216,CCC,20220920,19.576306,CCC,20221027,20.726736,CCC,20221125,20.091419,CCC
2,FC5D0EF5D661A2F76CC367F07CC38AA8,3.670139,CC,20220920,3.670139,C,20221027,5.290356,CC,20221125,4.210211,CC
3,FCC936D9841A06B9103486C12ED75F8F,17.033647,CCC,20220920,17.033647,CCC,20221027,17.033647,CCC,20221125,17.033647,CCC
4,FD2ECAF3179BCF6BC1737BC1006AD442,18.010821,CCC,20220920,19.206132,CCC,20221027,19.186041,CCC,20221125,18.800998,CCC
...,...,...,...,...,...,...,...,...,...,...,...,...
1116823,87B2A27722DC531854E1D876FA2763FD,32.243461,B,20220920,33.283185,B,20221027,34.345543,B,20221125,33.290729,B
1116824,883272F22D2AB9092897305E7C6BD19D,15.205926,CCC,20220920,15.205926,CCC,20221027,15.205926,CCC,20221125,15.205926,CCC
1116825,8A2DDB03813FB46016783CF726EC337F,2.628304,C,20220920,0.983067,C,20221027,0.983067,C,20221125,1.531479,CC
1116826,8BB6C513039067F9ABDE8785987C213B,18.146591,CCC,20220920,18.146591,CCC,20221027,15.436518,CCC,20221125,17.243234,CCC
1116827,8C17757E29DE5C9C0E47A35BE06DF117,45.707801,BB,20220920,44.178416,BB,20221027,45.200494,BB,20221125,45.028904,BB

In [43]:
rece_3_score=pd.merge(rece_3_score,level_9,left_on='rating_mean',right_on='rating_v2')
rece_3_score

,company_id,score_9,rating_v2_9,version_9,score_10,rating_v2_10,version_10,score,rating_v2_x,version,score_mean,rating_mean,rating_v2_y,level9
0,FB8986F0C61A5EEEA8F45C59F3E00CBC,0.064286,C,20220920,0.064286,C,20221027,0.064286,C,20221125,0.064286,C,C,9
1,64D90E27FBDD10872C2D05C4263C3C5C,0.322319,C,20220920,0.322319,C,20221027,0.322319,C,20221125,0.322319,C,C,9
2,740F3C0FE06167E9F36EA868E036C9DF,0.152475,C,20220920,0.152475,C,20221027,0.152475,C,20221125,0.152475,C,C,9
3,779EAD97471FE546C5805A1F6DCFEB3D,0.129171,C,20220920,0.129171,C,20221027,0.129171,C,20221125,0.129171,C,C,9
4,908A1E304D6A92EC666B4DF989DF6A7E,0.044497,C,20220920,0.044497,C,20221027,0.044497,C,20221125,0.044497,C,C,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116823,A4798AE28664A9A8708C28C43D3F058E,73.862431,AA,20220920,77.014409,AAA,20221027,78.502283,AAA,20221125,76.459708,AAA,AAA,1
1116824,05BF2DB7DED4A380CBEC30A57B51D218,85.067272,AAA,20220920,85.067272,AAA,20221027,85.067272,AAA,20221125,85.067272,AAA,AAA,1
1116825,AEFA03E575BA455BD4BA8312CAEE9A2C,76.889821,AAA,20220920,76.889821,AAA,20221027,76.889821,AA,20221125,76.889821,AAA,AAA,1
1116826,1A06E56E1FF8E82685F9133732A652AD,79.893616,AAA,20220920,79.893616,AAA,20221027,80.010974,AAA,20221125,79.932736,AAA,AAA,1
1116827,223A24992E2387E93FC4DAE6F36F74C0,81.684846,AAA,20220920,81.684846,AAA,20221027,81.684846,AAA,20221125,81.684846,AAA,AAA,1

In [44]:
rece_3_score['level9'].value_counts()

7    480109
6    259697
8    244370
5     69771
9     30150
4     22060
3      7971
2      2278
1       422
Name: level9, dtype: int64

In [37]:
rece_3_score['rating_mean'].value_counts()

CCC    480109
B      259697
CC     244370
BB      69771
C       30150
BBB     22060
A        7971
AA       2278
AAA       422
Name: rating_mean, dtype: int64

In [41]:
rece_3_score.query('rating_mean=="AAA"')['score_mean'].min()

75.64744296980068